html {
	font-family: 'Merriweather', serif;
	background-color: #ffffff;
	padding-bottom: 0;
	scroll-behavior: smooth;
}

body {
	padding-bottom: 0;
	margin-bottom: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10%;
	margin-right: 10%;
}

#about .wrapper {
	margin-left: 15%;
	margin-right: 15%;
	min-height: 100vh;
} 

nav li{
	list-style-type: none;
	margin: 2vw 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

	font-size: 3vh;
}

nav a, button a{

	text-decoration: none;
	color: black;
	font-family: 'Merriweather', serif;

	padding: 2vw;
}

nav{
	width: 100vw;
	/*  background-color: #76C962;*/
	max-height: 100px;
}

nav li img {
	max-height: 8vh;
	width: auto;
}

nav ul{
	display: block;
	margin: 0;
	padding: 0;
	max-height: 100px;

	display: flex;  
}

section {
	margin-top: 6vh;
	margin-bottom: 6vh;
	padding-top: 4vh;
}

body{
	margin: 0;
}



/*a:hover{
  background-color: ;
  }*/

  #intro {
  	min-height: 80vh;
  }

  #intro button {
  	cursor: pointer;
  	border: none;
  	padding: 1vh;
  	max-width: 10vw;
  	background: #76C962;
  	font-size: 2vh;
  	margin-top: 3vh;
  	font-family: 'Merriweather', serif;
  }

  #intro button a {
  	padding: 0;
  	margin: 0;
  }

  #about {
  	background-color: #B1E4A4;
  	min-height: 60vh;
  	display: flex;
  	flex-direction: column;
  	/*text-align: center;*/
  	padding-bottom: 10vh;
  	justify-content: center;
  }

  #about h3 {
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	text-align: left;
  }

  h1 {
  	font-size: 12vh;
  	margin-bottom: 3vh;
  }

  h1 .green {
  	color: #76C962;
  }

  h2 {
  	font-size: 5vh;
  	font-weight: bold; 
  }

  p {
  	line-height: 4vh;
  	margin-top: 1vh;
  	font-size: 2.5vh;
  	font-family: 'Open Sans', serif;
  	font-weight: lighter;

  }

  h3 {
  	margin-top: 0;
  	margin-bottom: 0;
  }

  h5 {
  	font-size: 2vh;
  	margin-bottom: 3vh;
  	text-align: center;
  	color: #565656;
  }

  .footer h5 {
  	margin-bottom: 3vh;
  }

  #program h2 {
  	padding-bottom: 4vh;
  }

  #program {
  	padding-bottom: 5vh;
  }


  /*timeline*/
  .timeline {
  	/*margin: 4em auto;*/
  	/*position: relative;*/
  	/*max-width: 46em;*/
  	padding: 0;
  	margin-left: 10%;
  	max-width: 60%;

  }


  .timeline-event {
  	position: relative;
  	padding-bottom: 1vh;
  }

  .timeline-event-copy {
  	padding-left: 2em;
  	padding-bottom: 1em;
  	position: relative;
  	top: -1.875em;
  	/*left: 4em;*/
  	width: 80%;
  	border-left: 3px lightgrey solid;
  	margin-left: -1px;
  	z-index: -1;
  }

  .timeline-event-icon {
  	-moz-transition: -moz-transform 0.2s ease-in;
  	-o-transition: -o-transform 0.2s ease-in;
  	-webkit-transition: -webkit-transform 0.2s ease-in;
  	transition: transform 0.2s ease-in;
/*	-moz-transform: scale(0.75);
	-ms-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	transform: scale(0.75);*/
	background-color:  #777777;
	display: block;
	margin: 0.5em 0.5em 0.5em -0.5em;
	position: absolute;
	top: 0;
	left: -8px;
	width: 30px;
	height: 30px;

}

#date1, #date2, #date3, #date4, #date5 {
	color: #469049;
	font-weight: bolder;
}

.timeline-event-thumbnail {
	
	-moz-transition: box-shadow 0.5s ease-in 0.1s;
	-o-transition: box-shadow 0.5s ease-in 0.1s;
	-webkit-transition: box-shadow 0.5s ease-in;
	-webkit-transition-delay: 0.1s;
	transition: box-shadow 0.5s ease-in 0.1s;
	font-size: 0.75em;
	-moz-box-shadow: inset 0 0 0 0em #ef795a;
	-webkit-box-shadow: inset 0 0 0 0em #ef795a;
	box-shadow: inset 0 0 0 0em #0710ef;
	display: inline-block;
	padding: 0.5em 0em 0em 0.5em;
	margin-left: 10px;
	margin-bottom: 0;
}

#team h2 {
	text-align: center;
}

.footer {
	background-color: #B1E4A4;
	margin-bottom: 0;
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10vh;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 6vh;
	height: 15px;
	width: auto;
}

.circle {
	max-width: 15px;
	min-width: 10px;
	max-height: 15px;
	min-height: 10px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid white;
	margin-right: 5vh;
	position: relative;
}

#linkedin, #github, #resume {
	position: absolute;
	top: 25%;
	left: 25%;
}

.schools {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.western, .laurier {
	max-height: 9vh;
	width: auto;
	margin-left: 10vh;

}

.waterloo {
	max-height: 14vh;
	width: auto;
}

.schools-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.join-container {
	display: flex;
	flex-direction: row;
	text-align: left;
	margin-top: 10vh;
}

.join-text {
	max-width: 50%;
	height: auto;
	flex-direction: column;
	display: flex;
	justify-content: center;
}

.reason {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15vw;
}

#join .wrapper {
	text-align: center;
	flex-wrap: wrap;
}

.reason img {
	max-width:15vh;
	height: auto;
	margin-right: 20vh;
	display: flex;
	justify-content: center;
}

#join {
	width: 100vw;
	justify-content: center;
}

#team {
	width: 100vw;
	display: flex;
	flex-direction: column;
	margin-top: 20vh;
	text-align: center;
	padding-bottom: 10vh;
	flex-wrap: wrap;
}

#team h3, h5, p {
	margin: 0.5vh;
}

.hiring-wrapper {
	padding-top: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.person {
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 25%;
}

.person img {
	max-width: 15vh;
	display: flex;
	justify-content: center;
	margin-left: 35%;
	border-radius: 50vh;
	margin-bottom: 3vh;

}

#roles {
	display: flex;
	flex-direction: column;
	text-align: center;
	min-height: 100vh;
	background-color: #B1E4A4;
	padding-bottom: 10vh;
	padding-top: 10vh;
}

.role {
	max-width: 30%;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 5vh;
	margin-top: 5vh;
}

#roles-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 5vh;
}


#roles img {
	max-width: 5vw;
	padding-bottom: 4vh;
	height: auto;
}

section div img{width:50%;right:-2%; max-width: 100%;}

@media (max-width: 700px) {


	#intro button {
		width: 100px;

	}

	#roles {
		width: 100vw;
		justify-content: center;
	}

	.role {
		justify-content: center;
		max-width: 100vw;
	}

	#roles-wrapper {
		flex-direction: column;
		max-width: 100vw;
		justify-content: center;
	}

	.join-container {
		flex-direction: column;
		max-width: 100vw;
		justify-content: center;
	}

	.join-text {
		text-align: center;
		max-width: 100vw;
		padding-top: 10vh;
	}

	.reason img {
		margin-right: 0;
		margin-left: 20vw;
	}


	.hiring-wrapper {
		flex-direction: column;
		max-width: 100vw;
		justify-content: center;
	}

	.person {
		text-align: center;
		width: 100%;
		padding-top: 10vh;
	}

	#intro button  {
		width: 150px;
		max-width: 100vw;
	}



}