html {
	font-family: 'Merriweather', serif;
	background-color: #ffffff;
	padding-bottom: 0;
}

body {
	padding-bottom: 0;
	margin-bottom: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10%;
	margin-right: 10%;
}

#about .wrapper {
	margin-left: 20%;
	margin-right: 20%;
} 

nav li{
  list-style-type: none;
  margin: 2vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 3vh;
}

a{
  
  text-decoration: none;
  color: black;
  font-family: 'Merriweather', serif;

  padding: 2vw;
}

nav{
  width: 100vw;
/*  background-color: #76C962;*/
  max-height: 100px;
}

nav li img {
	max-height: 8vh;
	width: auto;
}

nav ul{
  display: block;
  margin: 0;
  padding: 0;
  max-height: 100px;
  
  display: flex;  
}

section {
	margin-top: 6vh;
	margin-bottom: 6vh;
	padding-top: 4vh;
}

body{
  margin: 0;
}

nav button{
  display: none;
} 


a:hover{
  background-color: #3C763E;
}

#intro {
	min-height: 80vh;
}

#intro button {
	cursor: pointer;
	border: none;
	padding: 1vh;
	max-width: 15%;
}

#about {
	background-color: #76C962;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

#about h3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

h1 {
	font-size: 12vh;
	margin-bottom: 3vh;
}

h1 span {
	color: #76C962;
}

h2 {
	font-size: 5vh;
	font-weight: bold; 
}

p {
	line-height: 4vh;
	margin-top: 0;
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
}

h5 {
	font-size: 2vh;
	margin-bottom: 3vh;
	text-align: center;
	color: #565656;
}

button {
	padding: 1vh;
	background: #76C962;
	font-size: 2vh;
	margin-top: 3vh;
	font-family: 'Merriweather', serif;
}

#program h2 {
	padding-bottom: 4vh;
}


/*timeline*/
.timeline {
	/*margin: 4em auto;*/
	/*position: relative;*/
	/*max-width: 46em;*/
	padding: 0;
	margin-left: 10%;

}

.timeline p {
	color: #999999;
}


.timeline-event {
	position: relative;
	padding-bottom: 1vh;
}

.timeline-event-copy {
	padding-left: 2em;
	padding-bottom: 1em;
	position: relative;
	top: -1.875em;
	/*left: 4em;*/
	width: 80%;
	border-left: 3px lightgrey solid;
	margin-left: -1px;
	z-index: -1;
}

.timeline-event-icon {
	-moz-transition: -moz-transform 0.2s ease-in;
	-o-transition: -o-transform 0.2s ease-in;
	-webkit-transition: -webkit-transform 0.2s ease-in;
	transition: transform 0.2s ease-in;
/*	-moz-transform: scale(0.75);
	-ms-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	transform: scale(0.75);*/
	background-color:  #777777;
	display: block;
	margin: 0.5em 0.5em 0.5em -0.5em;
	position: absolute;
	top: 0;
	left: -8px;
	width: 30px;
	height: 30px;

}

#date1, #date2, #date3, #date4 {
	color: #469049;
	font-weight: bolder;
}

.timeline-event-thumbnail {
	
	-moz-transition: box-shadow 0.5s ease-in 0.1s;
	-o-transition: box-shadow 0.5s ease-in 0.1s;
	-webkit-transition: box-shadow 0.5s ease-in;
	-webkit-transition-delay: 0.1s;
	transition: box-shadow 0.5s ease-in 0.1s;
	font-size: 0.75em;
	-moz-box-shadow: inset 0 0 0 0em #ef795a;
	-webkit-box-shadow: inset 0 0 0 0em #ef795a;
	box-shadow: inset 0 0 0 0em #0710ef;
	display: inline-block;
	padding: 0.5em 0em 0em 0.5em;
	margin-left: 10px;
	margin-bottom: 0;
	}

section h2 {
	text-align: center;
}

.footer {
	background-color: #76C962;
	margin-bottom: 0;
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 6vh;
}

.circle {
	max-width: 15px;
	min-width: 10px;
	max-height: 15px;
	min-height: 10px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid white;
	margin-right: 5vh;
	position: relative;
}

#linkedin, #github, #resume {
	position: absolute;
	top: 25%;
	left: 25%;
}

.schools {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 4vh;
}

.schools img {
	max-height: 12vh;
	width: auto;
	margin: 5vh;
}

.join-container {
	display: flex;
	flex-direction: row;
	text-align: left;
	margin-top: 10vh;
}

.join-text {
	max-width: 50%;
	height: auto;
	flex-direction: column;
	display: flex;
	justify-content: center;
}

.reason {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15vw;
}

#join .wrapper {
	text-align: center;
}

.reason img {
	max-width:15vh;
	height: auto;
	margin-right: 20vh;
	display: flex;
	justify-content: center;
}

#join {
	width: 100vw;
	justify-content: center;
}

.hiring-wrapper {
	display: flex;
	flex-direction: row;
}

.person {
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 25%;
}

.person img {
	max-width: 15vh;
	display: flex;
	justify-content: center;
	margin-left: 35%;
	border-radius: 50px;
	margin-bottom: 3vh;

}

section div img{width:50%;right:-2%; max-width: 100%;}

@media only screen and (max-width: 500px) {
  ul{
    flex-direction: column;
  }
  
  a{
    display: block;
  }
  
  li{
    margin: 0;
  }
  
  button{
    display: block;
    
    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-start;
  }
}